<a href="https://colab.research.google.com/gist/TriDuks/d76c3598ebe3642488749b070d21d058/baitap1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000, freq = '30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14634
2023-01-08        100491
2023-01-15        100713
2023-01-22        100891
2023-01-29        101244
2023-02-05         83024

In [ ]:
dataframe.resample('2W').mean()
dataframe.resample('M').mean()

            Acess_Amount
2023-01-01      5.081250
2023-01-15      4.990179
2023-01-29      5.013269
2023-02-12      5.037864

In [ ]:
#Tìm số huy chương của 1 quốc gia
#Tìm số huy chương vàng, bạc, đồng theo màn thi cá nhân

import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data=data.set_index(data['NOC'])
data.loc['CAN']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
CAN,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
CAN,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
CAN,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
CAN,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
CAN,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [ ]:
dataframe = data[(data['NOC']=='CAN')&(data['Medal'])].count()
print('Số huy chương Canada đạt được: ',dataframe['Medal'])

Số huy chương Canada đạt được:  119

In [ ]:
dataframe = data[(data['NOC']=='CAN')&(data['Medal']=='Gold')].count()
print('Số huy chương vàng Canada đạt được: ',dataframe['Medal'])

Số huy chương vàng Canada đạt được:  38

In [ ]:
dataframe = data[(data['NOC']=='CAN')&(data['Medal']=='Silver')].count()
print('Số huy chương bạc Canada đạt được: ',dataframe['Medal'])

Số huy chương bạc Canada đạt được:  38

In [ ]:
dataframe = data[(data['NOC']=='CAN')&(data['Medal']=='Bronze')].count()
print('Số huy chương đồng Canada đạt được: ',dataframe['Medal'])

Số huy chương đồng Canada đạt được:  43

In [ ]:
#Môn thi Skiing
dataframe = data[(data['NOC']=='CAN')&(data['Sport']=='Skiing')].count()
print('Số huy chương môn Skating Canada đạt được: ',dataframe['Medal'])

Số huy chương môn Skating Canada đạt được:  21

In [ ]:
dataframe = data[(data['NOC']=='USA')].count()
print('Số huy chương trung bình: ',dataframe['Medal'])

Số huy chương trung bình:  216